/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/guarita.iml
/.idea/
/resources/profile-guided-optimizations/profile.iprof
/.clj-kondo/.cache/
/.clj-kondo/imports/
/.lsp/.cache/
/resources/vectors.bin
/resources/labels.bin
/resources/ivf.bin
!/resources/vectors.bin.gz
!/resources/labels.bin.gz
!/resources/ivf.bin.gz
