global
    maxconn 4096
    ulimit-n 65535
    log /dev/null local0 notice

defaults
    mode http
    log global
    option http-keep-alive
    option tcp-smart-accept
    timeout connect 5s
    timeout client  75s
    timeout server  75s
    timeout http-keep-alive 75s
    timeout queue   30s
    maxconn 4096

frontend http_front
    bind *:9999 backlog 4096
    default_backend api_servers

backend api_servers
    balance roundrobin
    option http-keep-alive
    http-reuse always
    server api1 api1:8000 check maxconn 2048
    server api2 api2:8000 check maxconn 2048
